# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Environments
env/
venv/
.conda/

# Data (keep only README)
data/*
!data/README.md

# Model checkpoints / weights
models/
*.pt
*.pth
*.ckpt

# Videos (optional) - keep if your mp4 are small; otherwise ignore videos folder
# results/videos/

# Logs
logs/
