# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Environments
env/
venv/
.conda/

# Data
data/*
!data/README.md

# Models / weights
models/
*.pt
*.pth
*.ckpt

# Logs
logs/
